/* Common */

h1 {
  font-size: 36pt;
  text-align: left;
}

body {
  background-color: black;
  color: white;
}

div#ide {
  margin: 20px;
  float: left;
  width: 400px;
  height: 600px;
}

textarea#console {
  float: left;
  width: 350px;
  height: 250px;
}

div#field {
  margin: 20px;
  width: 800px;
  float: left;
}
